<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default"
	th:with="title=${'Add Testimonial'},cancelPage=${'/admin/index'}">
	
	<div layout:fragment="content" th:inline="text">
		<div class="well">
			<p>Testimonials can be added by an administrator to display in the testimonials section of the footer on each page.</p>
		</div>
		<form id="testimonialForm" th:action="@{/admin/saveTestimonial}" method="post" class="form">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add Testimonial</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<label for="author">Name</label>
							<input type="text" id="author" name="author" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<label for="testimonial">Testimonial</label>
							<textarea id="testimonial" name="testimonial" class="form-control" rows="5"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="admin/support/buttonRowMarkup:: markup"></div>
		</form>
	</div>
</html>