<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">

<head>
	<link media="all" type="text/css" rel="stylesheet" th:href="@{/css/admin.css}" />
</head>

<body>
	<div layout:fragment="content" th:inline="text">
		<div class="row">
			<div id="sideNav" class="col-xs-2">
				<a th:href="@{/admin/index}">Dashboard</a>
				<a th:href="@{/team/adminView}">Team</a>
				<a href="#">Companies</a>
				<a href="#">Global Message</a>
				<a href="#">Testimonials</a>
				<a href="#">Users</a>
				<a href="#">Logs</a>
			</div>
			<div class="col-xs-10">
				<div layout:fragment="adminContent">
				</div>
			</div>
		</div>	
	</div>
	<section layout:fragment="additionalScripts" th:remove="tag">
		<script th:src="@{/js/admin.js}"></script>
		<section id="adminPageScripts" layout:fragment="adminPageScripts" th:remove="tag"></section>
	</section>
</body>
</html>