<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default"
	th:with="title=${'Business Insurance'},pageHeading=${'Business Insurance Quote'},useRecaptcha=${true}">
	
	<link layout:fragment="additionalStyle" media="all" type="text/css" rel="stylesheet" th:href="@{/css/quotes.css}" />
	
	<div layout:fragment="content" th:inline="text">
		<form th:action="@{/quotes/submitBusiness}" th:object="${quoteForm}" method="post" class="form">
			<div th:replace="common/errorMessageMarkup :: markup"></div>

			<!-- top row -->
			<div th:replace="quotes/support/contactMarkup :: markup"></div>
			
			<div th:replace="quotes/support/buttonRowMarkup:: markup"></div>
		</form>
	</div>
</html>
