.adminPageLink {
	display: inline-block;
	border: 2px solid #45033e;
	border-radius: 5px;
	color: #4A1144;
	font-size: 2em;
	background-color: #F1F0FF;
	height: 300px;
	position: relative;
	margin: 20px 0;
}

.adminPageLink:hover {
	color: #4A1144;
	text-decoration: none;
}

.adminPageLink span {
	display: block;
	text-align: center;
	padding: 30px 5px 5px 5px;
	position: absolute;
	bottom: 0;
}