<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default"
	th:with="title=${'Companies'},cancelPage=${'/companies/admin'}">
	
	<head>
		<link media="all" type="text/css" rel="stylesheet" th:href="@{/css/companies/update.css}" />
	</head>
	<section layout:fragment="additionalScripts">
		<script th:src="@{/js/companies/update.js}"></script>
	</section>

	<div layout:fragment="content" th:inline="text">
		<form id="updateForm" th:action="@{/companies/admin/save}" th:object="${company}" method="post" class="form" enctype="multipart/form-data">				
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Company Details</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">
									<div class="img-container">
										<img id="companyImage" th:src="*{image}" alt="Company image" />
									</div>
									<p>Change company logo. The image must be a .jpg file that is 200 pixels wide and 50 pixels high (200x50). <br />
									For help getting the correct file size, use the <a th:href="@{/admin/imageCropUtility}">image cropping utility</a></p>
									<input type="file" id="logo" name="logo" accept=".jpg" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="name">Name</label>
							<input type="text" th:field="*{name}" class="form-control" />
						</div>
						<div class="col-sm-6">
							<label for="phone">Phone Number</label>
							<input type="text" th:field="*{phone}" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<label for="url">Website Link</label>
							<input type="text" th:field="*{url}" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{image}" />
			<input type="hidden" th:field="*{sortOrder}" />
			<div th:replace="admin/support/buttonRowMarkup:: markup"></div>
		</form>
		
		<!-- Modal for when a user uploads something that is not a JPG image -->
		<div id="invalidImageModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title">Invalid Image</h3>
					</div>
					<div class="modal-body">
						<p>The selected file is not a JPG image. Please upload a JPG file for the company logo image.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal for when a user uploads incorrectly sized file -->
		<div id="invalidImageSizeModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title">Invalid Image Size</h3>
					</div>
					<div class="modal-body">
						<p>
							The selected file is not the correct size. Please upload a file that is
							<span id="imageWidth">200</span>x<span id="imageHeight">50</span>px.
							For assistance in creating a file with the correct size, use the image cropping tool.
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>